
*{
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
    font-family:sans-serif;


}

body{
    background-image:url(/green-plastic-grass-textured-backdrop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#menu ul {
	padding:0px;
	margin:0px;
	background-color:#1d1d1d;
	list-style:none;
    text-align: center;
    align-items: center;

}

#menu ul li { 
    display: inline; 
    padding: 80px;

}

#menu ul li a {
	padding: 20px;
	display: inline-block;

	/* visual do link */
	background-color:#1d1d1d;
	color: rgb(255, 255, 255);
	text-decoration: none;
	border-bottom:px solid #000000;
}

#menu ul li a:hover {
	background-color:#ffffff;
	color: #8d0000;
	border-bottom:3px solid #020000;
}

main{
    text-align: center;
    font-size: 2rem;
}

.container{
    height: 80vh;
    position: relative;
}

.elemento{
   color: rgb(255, 255, 255);
    position: absolute;
   top: 240px;
   left: 600px;
}